<strong>
  Olá,
  {{deliveryman}}
</strong>
<p>
  Houve um cancelamento de entrega, confira os detalhes abaixo:
</p>
<p>
  <strong>
    Produto:
  </strong>
  {{product}}
  <br />
  <strong>
    Horário:
  </strong>
  {{date}}
  <br />
  <strong>
    Cliente:
  </strong>
  {{client}}
  <br />
  <strong>
    Motivo do cancelamento:
  </strong>
  {{problem}}
  <br />
  <br />
  <small>
    A encomenda não está mais disponível para entrega.
  </small>
</p>
