<strong>
  Olá,
  {{deliveryman}}
</strong>
<p>
  Houve um registro de encomenda, confira os detalhes abaixo:
</p>
<p>
  <strong>
    Cliente:
  </strong>
  {{client}}
  <br />
  <strong>
    Horário:
  </strong>
  {{date}}
  <br />
  <strong>
    Destinatário:
  </strong>
  {{address}}
  <br />
  <strong>
    Produto:
  </strong>
  {{product}}
  <br />
  <br />
  <small>
    O produto já está disponível para a retirada.
  </small>
</p>
